<table>
    <thead>
      <tr>
        <ng-container
          *ngTemplateOutlet="
            headers || defaultHeadersTemplate;
            context: { $implicit: data }
          "
        ></ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of data | keyvalue">
      <tr>
        <ng-container *ngFor="let record of row.value! | keyvalue">
          <td>
            <app-record-table 
              [data]="record" 
              [defaultTemplate]="defaultRecordTemplate" 
              [templatesWithId]="templatesWithId">
            </app-record-table>
          </td>
        </ng-container>
        <button mat-button (click)="onEdit(row.value)">Edit</button>
        <button mat-button (click)="onRemove(row.value)">Remove</button>
        <ng-container *ngTemplateOutlet="customButton; context: { $implicit: row.value }"></ng-container>
      </tr>
      </ng-container>
    </tbody>
</table>

  <!-- If no template is provided use keys as headers and display all values -->
  <ng-template #defaultHeadersTemplate let-data>
    <th *ngFor="let header of data[0] | keyvalue">{{ header.key }}</th>
  </ng-template>

  <ng-template #defaultRecordTemplate let-data>
    <td >{{ data }}
    </td>
  </ng-template>