<ol>
    <div mat-dialog-content>
      <div class="dialog-header">
        <h2 mat-dialog-title>---EDIT---</h2>
        <div>
          <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
        </div>
      </div>
        
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let control of this.form.controls | keyvalue">
            <!-- NgSwitch wybiera odpowiedni szablon w zależności od typu kontrolki -->
            <ng-container [ngSwitch]="control.value | controlType">
              <!-- Text Input -->
              <ng-container *ngSwitchCase="formTypes.string">
                <div>
                <mat-form-field>
                  <mat-label>{{control.key}}</mat-label>
                  <input matInput [formControlName]="control.key" [placeholder]="control.key" />
                </mat-form-field>
              </div>
              </ng-container>
        
              <!-- Number Input -->
              <ng-container *ngSwitchCase="formTypes.number">
              <div>
                <mat-form-field>
                  <mat-label>{{control.key}}</mat-label>
                  <input matInput [formControlName]="control.key" type="number" [placeholder]="control.key" [readonly]="control.key === 'id'" />
                </mat-form-field>
              </div>
              </ng-container>
        
              <!-- Radio Group -->
              <ng-container *ngSwitchCase="formTypes.boolean">
              <div>
                <mat-radio-group [formControlName]="control.key">
                  <mat-label>{{control.key}}</mat-label>
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
              </ng-container>
           
              <ng-container *ngSwitchCase="formTypes.object">
              <div>
                <mat-form-field>
                  <mat-label>{{control.key}}</mat-label>
                  <input matInput [matDatepicker]="datePicker" [formControlName]="control.key" [placeholder]="'Choose a date'" [readonly]="true"/>
                  <mat-datepicker-toggle matSuffix [for]="datePicker" [disabled]="true"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
              </div>
              </ng-container>
        
              <!-- Dodaj inne typy kontrolek w ngSwitch, jeśli są potrzebne -->
            </ng-container>
          </ng-container>
        
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
        </form>
    </div>
  </ol>